#put {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(216, 71, 71);
  border-radius: 4px;
}

#lbl {
  color: rgb(230, 233, 235);
}

#header {
  border-radius: 10px;
  background-color: rebeccapurple;
}

#loginbox {
  padding: 42px;
  background-color: #3c382b;
  border-radius: 5px;
}

#footer {
  padding: 10px;
  margin-top: 20px;
  background-color: #3c382b;
}
#scroll {
  height: 400px;
  overflow: auto;
  display: block;
}
